<!DOCTYPE html>
<html lang="en">
  <head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title><%= title %></title>



    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body >
   

 <header>
     
  <div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-primary px-4 fixed-top border-bottom shadow-sm">
  <a class="navbar-brand  text-light" href="/"><h3><i class="fab fa-shopware px-2"></i>TODO_APP</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 px-3 h4 ">
      <li class="nav-item active">
        <a class="nav-link text-white font-weight-bold  pr-5" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn btn-outline-light mr-2" href="/login">Login</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link btn btn-outline-light mr-2 " href="/signup">signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-light mr-3 " href="/signup">Github Repo</a>
      </li>
       
    </ul>
  </div>
</nav>
</div> 
  </header>
   


<main role="main " class="text-center mt-4" >
  
 <form class="form-signin" action="/signup" method="post">
  <img class="mb-4" src="/assets/favicon.png" alt="" width="42" height="42">
  <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
  <%# <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> %>
  <label for="inputUsername" class="sr-only">Username</label>
  <input type="username" name="username" id="inputUsername" class="form-control" placeholder="Input Username" required>
   <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
   <label for="inputRePassword" class="sr-only">Re Password</label>
  <input type="password" name="repassword" id="inputPassword" class="form-control" placeholder="Re Password" required>
   <br><p><a href="/login">Already have an account?</a></p>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</form>
  <footer class="pt-4 my-md-5 pt-md-5 border-top text-left">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/assets/favicon.png" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">© 2017-2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Add Task</a></li>
          <li><a class="text-muted" href="#">Edit Task</a></li>
          <li><a class="text-muted" href="#">Update Task</a></li>
          <li><a class="text-muted" href="#">Delete Task</a></li>          
          <li><a class="text-muted" href="#">Manage Task</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Bootstrap</a></li>
          <li><a class="text-muted" href="#">Jquery</a></li>
          <li><a class="text-muted" href="#">Fontawesome</a></li>
          <li><a class="text-muted" href="#">Flaticon</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
  </main>

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
  </body>
</html>
